:root {
    --left-padding: min(9vw, 90px);
}

#header {
    font-size: 38px;
    /*text-align: center;*/
    padding: 19px;
    padding-left: var(--left-padding);
    background-color: #222229;
    color: #eee;
    font-weight: 700;

    border-bottom: 2px solid #555;

    font-family: "Red Hat Text", sans-serif;
}

body {
    font-family: monospace;
    color: #222;

    background: #daeefe; /*linear-gradient(to bottom right, #060d2f, #546ccf);*/
}

.game {
    /*padding-top: 200px;*/
    padding-left: 50px;
    padding-right: 50px;
    width: 500px;
    height: 500px;
    color: white;
    font-family: monospace;
    font-size: 50px;
    text-align: center;
    filter: blur(0px);
    margin: 35px;
    margin-top: 20px;
    margin-bottom: 20px;

    box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.5);

    backdrop-filter: brightness(60%);

    border: 1px solid #555;
    border-radius: 10px;
    text-shadow: 1px 1px 5px black;
    transition: ease 0.5s;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.game:hover {
    margin: 10px;
    padding-top: 180px;
    width: 550px;
    height: 550px;
    font-size: 55px;
    border-radius: 20px;
    transition: ease 0.5s;
    filter: blur(0px);

    box-shadow: 1px 1px 50px -5px rgba(0, 0, 0, 0.7);

    cursor: pointer;
}

.game#lafo {
    background: /*linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)), */ center/980px
        no-repeat
        url("https://raw.githubusercontent.com/unknownMusician/LostAndFoundOffice/main/Images/Screenshots/Screenshot%201.png");
}

.game#quoridor {
    background: /*linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)), */ center/980px
        no-repeat
        url("https://raw.githubusercontent.com/unknownMusician/QuoridorDelta/main/Recordings/Screen1.png");
}

.game#quoridor:hover {
    background: /*linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)), */ center/980px
        no-repeat
        url("https://raw.githubusercontent.com/unknownMusician/QuoridorDelta/main/Recordings/movie_003.gif");
}

.game#gachi-bird {
    background: /*linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)), */ center/550px
        no-repeat
        url("https://raw.githubusercontent.com/snyk04/gachi-bird/master/Images/Screenshots/Screenshot%201.png");
}

.game#gachi-bird:hover {
    background: /*linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)), */ center/550px
        no-repeat
        url("https://raw.githubusercontent.com/snyk04/gachi-bird/master/Images/Gameplay.gif");
}

@media (max-width: 1335px) {
    .game#quoridor {
        background: /*linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)), */ center/980px
            no-repeat
            url("https://raw.githubusercontent.com/unknownMusician/QuoridorDelta/main/Recordings/movie_003.gif");
    }
    
    .game#gachi-bird {
        background: /*linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)), */ center/550px
            no-repeat
            url("https://raw.githubusercontent.com/snyk04/gachi-bird/master/Images/Gameplay.gif");
    }
}

#games {
    margin: var(--left-padding);
    margin-top: 0px;
    padding-top: 20px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;

    /*box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.3) inset;*/
}

#about {
    margin: var(--left-padding);
    margin-top: 30px;
    padding: 50px;
    font-size: 30px;

    background-color: #fff;
    border: 1px solid #888;
    border-radius: 10px;

    box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.3);
}

.writing#about::after {
    content: "";

    animation-duration: 0.5s;
    animation-name: cursor-blink;
    animation-iteration-count: infinite;
}

@keyframes cursor-blink {
    from {
        content: "";
    }

    50% {
        content: "|";
    }

    to {
        content: "";
    }
}

.header {
    font-family: "Red Hat Text", sans-serif;
    border-bottom: 1px solid #888;

    display: inline-flexbox;

    margin-top: 90px;
    margin-left: var(--left-padding);
    margin-right: var(--left-padding);
    font-size: 40px;
    font-weight: lighter;
}
